.contactPage {
  font-family: "Inter", sans-serif;
  /* background-image: url("https://images.unsplash.com/photo-1497621122273-f5cfb6065c56?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

.contactContent {
  padding: 40px;
}

.contactContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: 10vw 10vw 10vw;
  grid-gap: 95px;
  margin-top: 50px;
}

.headerBox,
.contentBox,
.footerBox {
  display: inline-block;
  text-decoration: none; /* removes underline */
  color: #fff; /* text color */
  background-color: #8b3d81; /* adjust each box’s color if needed */
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.headerBox:hover,
.contentBox:hover,
.footerBox:hover {
  filter: brightness(1.1);
}

#quote {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  font-family: "Great Vibes", cursive;
  font-size: 45px;
  color: azure;
  text-align: center;
  margin-top: 40px;
  padding: 0 20px;
}

@media (max-width: 750px) {
  .contactContainer {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 1rem;
  }
}
