header.mainmenu {
  display: flex;
  left: 0;
  width: 100%;
  justify-content: center;
  background-color: #311f2d;
  color: rgb(240, 168, 234);
  height: 70px;
  align-items: center;
  padding: 20px 0;
  /* margin-top: 20px; */
}


h1.name {
  color: rgb(199, 88, 182);
  font-family: 'Great Vibes', cursive;
  margin: 40px 60px 25px 60px;
  font-size: clamp(2rem, 8vw, 100px);
}

.button-container {
  display: flex;
  gap: 30px;
}

header.mainmenu .button {
  color: rgb(247, 243, 246);
  background-color: rgb(139, 61, 129);
  margin: 6px;
  text-align: center;
  height: 35px;
  border-radius: 5px;
  padding: 0 10px;
}

/* Responsive header styles for tablets */
@media screen and (max-width: 768px) {
  header.mainmenu {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 0;
    height: auto;
  }

  .name {
    font-size: 50px;
    margin: 10px 0;
  }

  .button-container {
    flex-direction: column;
    gap: 10px;
  }

  header.mainmenu .button {
    width: 80%;
    font-size: 18px;
  }
}

/* Responsive header styles for phones */
@media screen and (max-width: 480px) {
  .name {
    font-size: 40px;
  }

  header.mainmenu .button {
    width: 100%;
    font-size: 16px;
  }
}
